.desktopShowcase {
  display: none;
}

.board {
  position: relative;
  min-height: 31.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: .1rem;
  overflow: visible;
  background-color: black;
  border-radius: 1.25rem;
}

@media (min-width: 768px) {
  .desktopShowcase {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
