.desktopShowcase {
  display: none;
}

.board {
  position: relative;
  min-height: 31.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: .2rem;
  overflow: visible;
}

@media (min-width: 768px) {
  .desktopShowcase {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
